<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | BookSwap</title>
    <!-- Add your CSS stylesheets here -->
    <link rel="stylesheet" href="home-screen.component.css">
</head>
<body>
    <!-- <div id="navbarPlaceholder"></div> -->
<div class="background-image">
    <div class="content">
        <!-- Main Title -->
        <div class="main-title threedtext">Book - Swap</div>
        <!-- App Description -->
        <div class="app-description threedtext">
            BookSwap is your go-to platform for buying and selling secondhand books. 
            Explore our vast collection of pre-loved reads and discover your next favorite book!
        </div>
        <!-- Explore Books Button -->
        <a [routerLink]="['/all-books']" class="explore-button">Explore Books</a>
    </div>
</div>
</body>
</html>
