<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Information Form</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Bootstrap Icons CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
  <!-- Custom CSS -->
  <style>
    body {
      background-color: #f8f9fa;
      top: 0;
    }
    .container{
        height: 600px;
    }
    .form-container {
      padding: 40px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-title {
      text-align: center;
      margin-bottom: 30px;
    }
    
    .form-control {
        border-radius: 5px;
      font-size: 15px;

    }
    .btn-submit {
      background-color: #007bff;
      border: none;
    }
    .btn-submit:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>

  <div class="container mt-2">
    <div class="form-container">
      <h2 class="form-title">Book Information</h2>
   
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                  </div>
                  <input type="text" class="form-control" id="name" [(ngModel)]="BookEntity.bookName">    
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="originalPrice">Original Price:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                  </div>
                  <input type="text" class="form-control" id="originalPrice" [(ngModel)]="BookEntity.authorName">
                </div>
              </div>
            </div>
          </div>
          
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="author">Author:</label>
              <input type="text" class="form-control" id="author" [(ngModel)]="BookEntity.authorName">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="isbn">ISBN:</label>
              <input type="text" class="form-control" id="isbn" >
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="publisher">Publisher:</label>
              <input type="text" class="form-control" id="publisher" [(ngModel)]="BookEntity.publisher">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="publicationDate">Publication Date:</label>
              <input type="date" class="form-control" id="publicationDate" [(ngModel)]="BookEntity.publicationDate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="edition">Edition:</label>
              <input type="text" class="form-control" id="edition" [(ngModel)]="BookEntity.edition">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="numberOfPages">Number of Pages:</label>
              <input type="number" class="form-control" id="numberOfPages" [(ngModel)]="BookEntity.numberOfPages">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="format">Format:</label>
              <select class="form-control" id="format" [(ngModel)]="BookEntity.bookFormat">
                <option value="Hardcover">Hardcover</option>
                <option value="Paperback">Paperback</option>
                <option value="eBook">eBook</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="dimensions">Dimensions (HxWxT):</label>
              <input type="text" class="form-control" id="dimensions"[(ngModel)]="BookEntity.dimensions">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="weight">Weight:</label>
              <input type="text" class="form-control" id="weight"[(ngModel)]="BookEntity.weight" >
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="language">Language:</label>
              <input type="text" class="form-control" id="language" [(ngModel)]="BookEntity.language">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="condition">Condition:</label>
              <select class="form-control" id="condition" [(ngModel)]="BookEntity.bookCondition">
                <option value="New">New</option>
                <option value="Like New">Like New</option>
                <option value="Good">Good</option>
                <option value="Acceptable">Acceptable</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="availability">Availability:</label>
              <select class="form-control" id="availability">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control" id="description" rows="3" [(ngModel)]="BookEntity.description"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="tableOfContents">Table of Contents:</label>
              <textarea class="form-control" id="tableOfContents" rows="3" [(ngModel)]="BookEntity.tableOfContents"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="image1">Image 1:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-upload"></i></span>
                  </div>
                  <input type="file" class="form-control" id="image1">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="image2">Image 2:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-upload"></i></span>
                  </div>
                  <input type="file" class="form-control" id="image2">
                </div>
              </div>
            </div>
          </div>
        
        <button type="submit" class="btn btn-primary btn-submit" (click)="addBooks()">Submit</button>
      
    </div>
  </div>

  <!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
