body {
    background-color: #f0f0f0; /* You can adjust the color code as needed */
    margin-top: 0;
  }
  .logo {
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  .border-custom {
    border: none;
    border-radius: 5px;
    padding: 20px;
  }
  
  